body {
    font-size: 12px;
    font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
    line-height: 20px;
    color: #000;
    margin: 0;
    background-color: #97b59e;
}

.pageheader {
    height: 60%;
    margin: 0 90px 0 30px;
    background-color: #f3fdf5;
    border: 20px solid #f3fdf5;
}

#header {
    width: 520px;
    height: auto;
    margin-left: 25px;
}

.row {
    background-color: #c3e0cb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.left-column {
    flex: 20%;
    width: 30%;
    background-color: #c3e0cb;
    padding-right: 10px;
}

/* new web technique learned - transition color over links */
.left-column a {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000;
    text-decoration: none;
    letter-spacing: 4px;
    position: relative;
    font-weight: bold;
    display: block;
    background-color: #f3fdf5;
    padding: 5px;
    transition: color 0.5s ease;
}

.left-column a:hover {
    color: #e2e9df;
    background-color: #46584a;
    font-weight: bolder;
    font-style: italic;
}

.left-column a:before { 
    content: "";
    display: block;
    width: 0;
    height: 1px;
    margin-bottom: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.right-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto 0 auto;
    background-color: #c3e0cb;
    width: 70%;
    padding-bottom: 8%;
    overflow-x: auto;
    white-space: nowrap;
    clear: both;
}

.right-column-me {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto 0 auto;
    background-color: #c3e0cb;
    width: 70%;
    padding-bottom: 8%;
    overflow-x: auto;
    white-space: nowrap;
    clear: both;
}

.right-column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto 0 auto;
    background-color: #c3e0cb;
    width: 70%;
    padding-bottom: 8%;
    overflow-x: auto;
    white-space: nowrap;
    clear: both;
}

.right-column-school {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto 0 auto;
    background-color: #c3e0cb;
    width: 70%;
    padding-bottom: 8%;
    overflow-x: auto;
    white-space: nowrap;
    clear: both;
}

.right-column-art {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto 0 auto;
    background-color: #c3e0cb;
    width: 70%;
    padding-bottom: 8%;
    overflow-x: auto;
    white-space: nowrap;
    clear: both;
}

.vc-body-copy {
    display: flex;
    height: 100%;
    align-items: center;
    }

h1 {
    font: bolder 18px/1 'Trebuchet MS', sans-serif;
    color: #3d7762;
    letter-spacing: 5px;
    text-indent: 100px;
    margin: 5px 0;
    border-bottom: 3px dashed #46584a;
}

h2 {
    font: bolder 35px/40px Georgia, 'Times New Roman', Times, serif ;
    letter-spacing: 4px;
    padding-bottom: 0;    
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    color: #3d7762;
    background-color: #c3e0cb;
    text-indent: 7%;
}

p {
    margin-top: 0;
    text-indent: 0;
    text-align: left;
    padding-left: 7%;
    font-size: 12px;
}

.right-column img {
    border: 10px groove #4a3d3d;
    width: 200px;
    max-width: 100%;
    height: auto;
    padding-bottom: 0;
    display: block;
}

.right-column h1 {
    margin: 0;
}

.right-column p {
    margin-right: 15px;
}

.nav ul {
    font: 12px/1.5 Georgia, 'Times New Roman', Times, serif;
    color: #000;
    letter-spacing: 2px;
    text-align: right;
    line-height: 30px;
    margin: 4% 7% 100% 7%;
    padding: 0px; 
    font-weight: normal;
}

.carousel {
    padding: 1rem;
    background: #f3fdf5;
    box-shadow: rgb(49, 69, 45) 0px 22px 70px 4px;
    border-radius: 8px;
    max-width: 900px;
    width: 100%;
    margin: auto;
}

.images-container {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    align-items: center;
}

.images-container img {
    height: 281px;
    width: 500px;
}

.ashlee img {
    border: 10px groove #4a3d3d;
    width: 200px;
    max-width: 100%;
    height: auto;
    padding-bottom: 0;
    display: block;
}

.classes ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto 0 auto;
    background-color: #c3e0cb;
    width: 70%;
    padding-bottom: 8%;
    overflow-x: auto;
    white-space: nowrap;
    clear: both;
}

li {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    list-style-type: circle;
}

.guac {
    font-weight: bolder;
    font-size: 16px;
}

.skills ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 40px;
        margin: 0 auto 0 auto;
        background-color: #c3e0cb;
        width: 70%;
        padding-bottom: 8%;
        overflow-x: auto;
        white-space: nowrap;
        clear: both;
}

.guacguac {
    font-weight: bolder;
    font-size: 25px;
    margin-left: 35px;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#icon {
    width: 180px;
    height: 180px;
    margin-left: 95px;
}

.help ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px;
    margin: 0 auto 0 auto;
    background-color: #c3e0cb;
    width: 70%;
    padding-bottom: 8%;
    overflow-x: auto;
    white-space: nowrap;
    clear: both;
}